{% extends "layout.twig" %}
{% form_theme form 'bootstrap.html.twig' %}

{% block page %}
        <div class="page-header">
            <h1>New Teacher</h1>
        </div>
    {% if success %}
        <div class="alert alert-success">Teacher created successfully!</div>
    {% endif %}
    {{ form(form, { 'method': 'POST' }) }}
{% endblock %}